


 <form  #postCdbForm = "ngForm" (ngSubmit) ="onSubmit(postCdbForm.value)">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Cálculo CDB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sobre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contato</a>
      </li>
    </ul>
  </div>
</nav>

<!-- <h1>calculocdb works!</h1> 

<ul >
    <li *ngFor ="let cdb of calculocdb">
        {{cdb.valorMonetario}}
    </li>
   
</ul> 

{{titulo}} -->

<!-- <th scope="row">{{calculocdb[0].valorMonetario}}</th>
<td>{{calculocdb[0].prazo}}</td>
<td>{{calculocdb[0].VF}}</td>
<td>{{calculocdb[0].VI}}</td> -->


<!-- <form class="form-group "> -->

    <!-- <div class="form-group letter">
      <label for="exampleFormControlSelect1">Meses</label>
      <select class="form-control" id="Meses">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div> -->
  
  <!-- </form> -->

<!-- <select class="form-select" aria-label="Default select example">
    <option selected>Open this select menu</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select> -->
  <div class="container" style="margin-top:1%;">

    <div class="left table" >
      <div class="form-group letter">
        <label for="exampleFormControlInput1">Valor</label>
        <input type="text" class="form-control " id="Valor" ngModel placeholder="R$">
        <label for="exampleFormControlSelect1">Meses</label>
        
        <select class="form-control " id="Meses" ngModel>
         <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
       
      </div>

    </div>
    <div class="right">
     
      <table class="table">
        <thead>
          <tr>         
            <th scope="col">Handle it</th>
            <th scope="col">Handle</th>
    
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Valor Inicial</td>   
            <td>{{calculocdb[0].VI}}</td>      
          </tr>
          <tr>  
            <td>Prazo</td>      
            <td>{{calculocdb[0].prazo}}</td>    
          </tr>
          <tr>         
            <td>VF</td>      
            <td>{{calculocdb[0].VF}}</td>    
          </tr>
          <tr>         
            <td>VI</td>      
            <td>{{calculocdb[0].VI}}</td>    
          </tr>
        
        </tbody>
    </table>
    teste    
 
    </div>

    <ngx-slider [(value)]="value" [options]="options" class="textSize" style="margin-bottom: 5%;" (mouseup)="sliderEvent(value)" ></ngx-slider>
    <!-- Selected Value: {{value}} -->

  </div>
</form>   


<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted footer">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Company name
          </h6>
          <p>
            Here you can use rows and columns to organize your footer content. Lorem ipsum
            dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">React</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Vue</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Laravel</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

